{% extends 'layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <div class="main white container">

        {% include 'alerts.html.twig' %}
        <h1>{{ block('title') }}</h1>

        <p>This is a custom instance of the original thronesdb.com site to be able to build decks with South Korean Meta designs.</p>
        <p>This instance is supposed to be temporary only til these designs are part of the mainline design team. </p>
        <h3>Credits</h3>
	<p> Of course, all the credits are for Alsciende and stopfstedt for their enormous effort and incredible job during all these years. Your site is the core of the whole community, the key component to keep it alive.</p>

    </div>
{% endblock %}
